.css_name_ag{
    background: #F4F4F4;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 4px 4px 0px 0px;
color: #6E6E6D;

font-style: normal;
font-weight: 375;
font-size: 15px;
line-height: 20px;

display: flex;
flex-direction: row;
align-items: flex-start;
padding: 10px 20px;
}
.css_ek{
    background: #6E6E6D;
    border-radius: 4px 4px 0px 0px;
    align-items: center;
padding: 7px 14px;
gap: 20px;
}
.css_elip_red{
    background: green;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display:inline-block;
}
.css_name_ek{
    display:inline-block;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 17px;
    align-items: center;
    color: #FFFFFF;
    
}
.css_rot{
    
   padding:5px;
}
.css_rot_name{
    display:inline-block;
    font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 17px;
color: #2B2B2A;

}
.css_rot_date{
    padding: 4px 10px;
    background: #F4F4F4;
    border-radius: 4px;
    font-style: normal;
font-weight: 375;
font-size: 13px;
line-height: 15px;


display: flex;
align-items: center;
text-align: center;


color: #000000;
    display:inline-block;
}
.css_rot_change{
    font-style: normal;
font-weight: 375;
font-size: 13px;
line-height: 15px;


display: flex;
align-items: center;



color: #8E4D9B;
    display:inline-block;
}
.css_line{
    border: 1px solid #EFEFEF;
    
}
.css_pos_zam_rot_text{
    align-items: center;
padding: 0px 0px 0px 20px;
display: flex;
align-items: center;
font-style: normal;
font-weight: 500;
font-size: 13px;
line-height: 15px;
color: #2B2B2A;
}
.css_sutki_div{
    background: #FAFAFA;
    border-radius: 4px;
    display: flex;
flex-direction: row;
align-items: center;
padding: 5px 20px;
}
.css_sutki_div_2{
    display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;

padding: 2px 15px;
}
.css_sutki_kogda{
    background: #F4F4F4;
    border-radius: 4px;
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 4px 10px;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 21px;
color: #000000;
}
.css_sutki_prognoz_name{
    
    font-style: normal;
    font-weight: 375;
    font-size: 12px;
    line-height: 14px;
    color: #6E6E6D;
}
.css_sutki_prognoz_val{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #565655;
}
.css_kartinka{
    background: #EFF2F6;
    border: 2px solid #CED7E7;
border-radius: 6px;
padding: 10px;
}

.css_predup{

padding: 0px;
align-items: center;

}
.css_predup_text{
    display:inline-block;
    align-items: center;

    padding-left: 5px;

    font-style: normal;
font-weight: 500;
font-size: 13px;
line-height: 15px;
color: #2B2B2A;
}
.css_pod_div{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    background: #FAFAFA;
    border-radius: 4px;
    
}
.css_cell1{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 7px 10px;
    gap: 10px;
    flex: none;
    order: 0;
    flex-grow: 1;
}
.css_cell2{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px 10px;
    gap: 7px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.css_pod_text{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 7px 10px;
gap: 10px;
color: #262626;
font-style: normal;
font-weight: 375;
font-size: 13px;
line-height: 15px;
}
.css_cell_d1{
    display: flex;
flex-direction: row;
align-items: center;
padding: 7px 0px;
gap: 10px;
}
.css_cell_d2{
    display: flex;
flex-direction: row;
align-items: flex-start;
padding: 7px 0px;
gap: 10px;

}